<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Courses</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<a href="../index.html">retour</a>
	<!-- container container-fluid  -->
	<div class="container" id="app">
		<div class="row">
			<div class="offset-3 col-6">
				<h1> Liste de courses</h1>
				<br>
				<div class="row">
					<div class="col-6">
						<input v-model="item" class="form-control">
					</div>
					<div class="col-2">
						<button id="btn1" class="btn btn-success" @click="addItem()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<br>
				<div v-if="loading === 0" class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<table  v-else class="table table-striped">
					<thead>
						<th>Item</th>
						<th>Action</th>
					</thead>
					<tbody id="tab1">
						
						<tr  v-for="(line, index) in table" v-bind:class="line.danger">
							<td v-if="line.buy == 1">
								<strike>{{line.name}}</strike>
							</td>
							<td v-else>
								{{line.name}}
							</td>
							<td>
								<button class="btn btn-primary acheter" @click="buyItem(index)">
									<i class="fa fa-check"></i>
								</button>
								<!--&nbsp;-->
								<button class="btn btn-danger del" @click="removeItem(index)">
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
						


					</tbody>
				</table>
			</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>
		const app = new Vue(
			{
				el: "#app",
				data: {
					table: [],
					item: "",
					loading: 0
				},
				computed: {

				},
				methods: {
					addItem() {
						let newItem = {
							name: this.item,
						}
						this.item = "";
						axios
							.post("http://localhost/demo-vuejs/api/public/items/", newItem)
						this.table.push(newItem);
					},
					removeItem(i) {
						axios
							.delete("http://localhost/demo-vuejs/api/public/items/" + this.table[i].id)
						this.table.splice(i, 1);
					},
					buyItem(i) {
						let buyItem = {};
						if (this.table[i].buy == 1) {
							buyItem.name = this.table[i].name;
							buyItem.buy = 0;
							this.table[i].buy = 0;
							this.table[i].danger = "";
							
						
						} else {
							buyItem.name = this.table[i].name;
							buyItem.buy = 1
							this.table[i].buy = 1;
							this.table[i].danger = "table-danger";
							
						}
						console.log(buyItem)
						axios
							.put("http://localhost/demo-vuejs/api/public/items/"+this.table[i].id, buyItem)
							.then(response => console.log(response))
					},
				},
				mounted() {
					
					axios
						.get("http://localhost/demo-vuejs/api/public/items/")
						.then(response => { this.table = response.data;
							this.loading = 1;
							for(let i = 0; i< this.table.length; i++) {
								if(this.table[i].buy) {
									this.table[i].danger = "table-danger";
								}
								else {
									this.table[i].danger = "";
								}
							}
							
		
						}
					)
				}
			}
		)

	</script>
</body>

</html>